.main-header {
  display: grid;
  justify-items: center;
  grid-column: 1;
  background-color: #e1d5bf;
}

.main-figure{
  height: 400px;
  margin: 0;
}

.header-image {
  padding: 1em;
  margin: 0;
}

.header-name {
  text-align: center;
  font-size: 1em;
}

