.main-header {
  display: grid;
  justify-items: center;
  grid-column: 1;
  background-color: #e1d5bf;
}

.main-figure{
  height: 400px;
  margin: 0;
}

.header-image {
  padding: 1em;
  margin: 0;
}

.header-name {
  text-align: center;
  font-size: 1em;
}

@media only screen and (max-width: 420px) {
  /* Write smartphone only styles here */
  body {
    padding-top: 120px;
    color: (84, 81, 73);
    background-color: #dfeef3;
    font-size: 24px;
    font-family: 'Source Sans Pro';
    display: grid;
    height: 100%;
  }
  
  .container {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    overflow: auto;
    height: 100%;
  }
  
  .tweet-label {
    text-align: left;
    display: block;
  }
  
  .error-message {
    grid-column: 2;
    border: 2px solid red;
    color: red;
    padding: 1em;
    margin: 1em;
    text-align: center;
  }
}


/* responsive design for tablet */
@media only screen and (min-width: 768px) {
  body {
    padding-top: 120px;
    color: (84, 81, 73);
    background-color: #dfeef3;
    font-size: 24px;
    font-family: 'Source Sans Pro';
    display: grid;
    height: 100%;
  }
  
  .container {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    overflow: auto;
    height: 100%;
  }
  
  .tweet-label {
    text-align: left;
    display: block;
  }
  
  .error-message {
    grid-column: 2;
    border: 2px solid red;
    color: red;
    padding: 1em;
    margin: 1em;
    text-align: center;
  }
}

 /* Responsive design for desktop */
 @media only screen and (min-width: 1024px) {
  body {
    padding-top: 120px;
    color: (84, 81, 73);
    background-color: #dfeef3;
    font-size: 24px;
    font-family: 'Source Sans Pro';
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
  }
  
  .container {
    grid-column: 2;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    overflow: auto;
    height: 100%;
  }
  
  .tweet-label {
    text-align: left;
    display: block;
  }
  
  .error-message {
    grid-column: 2;
    border: 2px solid red;
    color: red;
    padding: 1em;
    margin: 1em;
    text-align: center;
  }
}