/* Write smartphone only styles here */
@media only screen and (max-width: 430px) {
  .tweet-container {
    grid-column: 2;
    width: 100%;
  }
  
  .tweeted-article{
    display: grid;
    grid-template-rows: 90px 1fr 40px;
    grid-row-gap: 10px;
    border: 2px solid black;
    padding: 1em;
    margin: 1em;
    font-family: "Source Sans Pro";
    font-weight: 300;
    word-wrap: break-word;
  }
  
  .tweeted-header{
    grid-row: 1;
  }
  
  .header-image-name{
    display: flex;
    justify-content: space-between;
  }
  
  .tweet-header-image {
    height: 50%;
    vertical-align: middle;
  }
  
  .tweet-header-name {
    height: 100%;
    margin: 0;
  }
  
  .tweet-header-handle {
    height: 100%;
    margin: 0;
    visibility:hidden;
  }
  
  .tweeted-text {
    grid-row: 2;
    margin: 0;
    border-bottom: 2px solid black;
    align-self: end;
    word-break: break-all;
  }
  
  .tweeted-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-row: 3;
    align-self: center;
  }
  
  .tweet-icon{
    visibility: hidden;
  }
  
  .tweeted-article:hover .tweet-icon{
    visibility: visible;
  }
  .tweeted-article:hover {
    font-weight: 400;
    font-style: normal;
    box-shadow: "5px 5px #888888";
  }
  
  .tweeted-article:hover .tweet-header-handle{
    visibility: visible;
  }
  
  .tweeted-article {
    font-weight: 300;
    font-style: normal;
  }
}


/* responsive design for tablet */
@media only screen and (min-width: 430px) and (max-width: 1024px) {
  .tweet-container {
    grid-column: 2;
    width: 100%;
  }
  
  .tweeted-article{
    display: grid;
    grid-template-rows: 90px 1fr 40px;
    grid-row-gap: 10px;
    border: 2px solid black;
    padding: 1em;
    margin: 1em;
    font-family: "Source Sans Pro";
    font-weight: 300;
    word-wrap: break-word;
  }
  
  .tweeted-header{
    grid-row: 1;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  
  .tweet-header-image {
    height: 100%;
    vertical-align: middle;
  }
  
  .tweet-header-name {
    height: 100%;
    margin: 0;
  }
  
  .tweet-header-handle {
    height: 100%;
    margin: 0;
    visibility:hidden;
  }
  
  .tweeted-text {
    grid-row: 2;
    margin: 0;
    border-bottom: 2px solid black;
    align-self: end;
    word-break: break-all;
  }
  
  .tweet-icon{
    visibility: hidden;
  }

  .tweeted-footer{
    display: flex;
    justify-content: space-between;
    grid-row: 3;
    align-self: center;
  }
  
  .tweeted-article:hover {
    font-weight: 400;
    font-style: normal;
    box-shadow: "5px 5px #888888";
  }
  
  .tweeted-article:hover .tweet-icon{
    visibility: visible;
  }
  
  .tweeted-article:hover .tweet-header-handle{
    visibility: visible;
  }

  .tweeted-article {
    font-weight: 300;
    font-style: normal;
  }
}

 /* Responsive design for desktop */
 @media only screen and (min-width: 1024px) {
  .tweet-container {
    grid-column: 2;
    width: 100%;
  }
  
  .tweeted-article{
    display: grid;
    grid-template-rows: 90px 1fr 40px;
    grid-row-gap: 10px;
    border: 2px solid black;
    padding: 1em;
    margin: 1em;
    font-family: "Source Sans Pro";
    font-weight: 300;
    vertical-align: center;
  }
  
  .tweeted-header{
    grid-row: 1;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  
  .tweet-header-image {
    height: 100%;
    vertical-align: middle;
  }
  
  .tweet-header-name {
    height: 100%;
    margin: 0;
  }
  
  .tweet-header-handle {
    height: 100%;
    margin: 0;
    visibility:hidden;
  }

  .tweet-icon{
    visibility: hidden;
  }
  
  .tweeted-article:hover .tweet-icon{
    visibility: visible;
  }
  
  .tweeted-text {
    grid-row: 2;
    margin: 0;
    border-bottom: 2px solid black;
    align-self: end;
    word-break: break-all;
  }
  
  .tweeted-footer{
    display: flex;
    justify-content: space-between;
    grid-row: 3;
    align-self: center;
  }
  
  .tweeted-article:hover {
    font-weight: 400;
    font-style: normal;
    box-shadow: "5px 5px #888888";
  }
  
  .tweeted-article:hover .tweet-header-handle{
    visibility: visible;
  }

  .tweeted-article {
    font-weight: 300;
    font-style: normal;
  }
}